---
import { Image } from "astro:assets";
import Section from "./Section.astro";

const s1 = "https://res.cloudinary.com/dk0pompea/image/upload/v1730665907/dynage-portfolio-projects/beedeecee_logo_koz1kp.svg";
const s2 = "https://res.cloudinary.com/dk0pompea/image/upload/v1727871236/dynage-portfolio-projects/stellar-stream-logo_ssxgqf.svg";
const s3 = "https://res.cloudinary.com/dk0pompea/image/upload/v1727871236/dynage-portfolio-projects/branda-logo_zqwkgy.svg";
const s4 = "https://res.cloudinary.com/dk0pompea/image/upload/v1730666466/dynage-portfolio-projects/fleetwise_qdd5ui.svg";
const s5 = "https://res.cloudinary.com/dk0pompea/image/upload/v1730666637/dynage-portfolio-projects/Logo_drmfyd.svg";
const s6 = "https://res.cloudinary.com/dk0pompea/image/upload/v1730666465/dynage-portfolio-projects/iris_wcta0e.svg";

const sponsors = [
  { logo: s1, alt: "Beedeecee logo" },
  { logo: s2, alt: "StellarStream logo" },
  { logo: s3, alt: "Branda logo" },
  { logo: s4, alt: "Fleetwise logo" },
  { logo: s5, alt: "Nivara logo" },
  { logo: s6, alt: "Iris logo" },
];
---

<Section id="sponsors">
  <p class="text-2xl font-bold mt-4">Some of our recent projects are: </p>
  <div class="flex flex-wrap items-center justify-between gap-7 my-[60px]">
    {
      sponsors.map((sponsor) => {
        return (
          <div>
            <Image height={40} width={120} src={sponsor.logo} alt={sponsor.alt} loading="eager" inferSize={true} />
          </div>
        );
      })
    }
  </div>
</Section>
