---
import Layout from '../layouts/default.astro'

---

<Layout title="Welcome to Dynage Studio.">
    <main>
        <h1 class="text-gradient">Dynage Studio</h1>
        <p>
            We are a team of engineers who are passionate about building software that solves real-world problems.
        </p>
    </main>

</Layout>