---
import Layout from '../layouts/default.astro';
const btns = [
{
  class: 'border text-md px-3 py-2 rounded',
  href: '/dynage-engineering',
  text: 'Dynage Engineering'
},
{
  class: 'bg-black text-white px-3 py-2 rounded',
  href: '/dynage-studio',
  text: 'Dynage Studio'
}
]
---

<Layout title="Welcome to Dynage Technologies.">
	<section class="mx-auto mt-8 px-10 h- flex gap-2 items-center">
		<div class="flex flex-col gap-2 lg:w-1/2 sm:w-full">
			<h1 class="text-5xl font-bold">Welcome to Dynage: Where Innovation Meets Engineering Excellence</h1>
			<p class="font-light">Explore our cutting-edge services at Dynage Engineering and Dynage Studio.</p>
			<ul class="flex gap-2 my-3">
				{
					btns.map(btn => (
						<li>
							<a class={btn.class} href={btn.href}>{btn.text}</a>
						</li>
					))
				}
			</ul>
		</div>
		<div class="lg:w-1/2 sm:w-full overflow-hidden h- rounded">
			<img src="https://demo-source.imgix.net/snowboard.jpg" alt="Hero image"/>
		</div>
	</section>
</Layout>

<style>
	html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}
</style>

