---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import { getCollection } from 'astro:content';
import ProductCard from '../components/ProductCard.astro';
import SectionSpacer from '../components/SectionSpacer.astro';

const products = await getCollection('products');
console.log({products});
---

<Layout title="Dynage Engineering - Shop">
	<Header gridBg>
		<small class="small">Your all in one shopping platform for IoT projects</small>
		<h2 class="text-12 leading-12 lg:text-20 lg:leading-20">Shop for IoT Components </h2>
		<p class="subtitle w-85% lg:w-50% mx-auto mt-5">A short manifesto about how Dynage Engineering is going to change the world.</p>
	</Header>
	<main>
		<Section index source="products.json" fullWidthBorder>
			<h2 class="title">Products</h2>
			<ul class="my-5 project-list ignore-content-container border-y-1 border-y-gray-200 border-y-dotted">
				{products.map((prod: any) => <ProductCard {...prod.data} />)}
			</ul>

		</Section>
		<SectionSpacer size="md" />
	</main>
</Layout>
