---
import { storyblokEditable } from "@storyblok/astro"; 
import  NewsletterVue from "@/components/forms/NewsletterForm.vue";


interface Props {
  blok: NewsletterStoryblok;
  index?: number;
}

const { blok } = Astro.props;
const { 
  container = "normal",
  surface = "", 
  padding_top = "pt-lg",
  padding_bottom = "pb-lg",
} = blok;
---
<div
  {...storyblokEditable(blok)}
  class={`${surface} ${padding_top} ${padding_bottom} intersection`}
>
  <div class={container && "content-grid"}  >
    <div class={container}>
    <NewsletterVue lang="en" client:load />
    </div>
  </div>
</div>
